*, *::after, *::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face{
font-family:"Bebas Neue";
src:url("fonts/BebasNeue.ttf");
src:
url("fonts/BebasNeue.ttf")format("truetype");
font-family:"alex brush";
src:url("fonts/AlexBrush.ttf");
src:
url("fonts/AlexBrush.ttf")format("truetype");
}

body{
    background-image: url(../img/final/background-min.png);
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Bebas Neue";
}
header nav .logo{
    align-self: flex-start;
}
header .navbar{
    align-self: flex-start;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
}
header ul li{
    display: inline;
}
.nav-item-right{
    padding-left: 3rem;
}
header ul li a{
    color: #171717;
    text-shadow: 0px 1.2px #FCDDA3 ;
    font-size: 1.8rem;
}
header ul li a:hover{
    color: #FCDDA3;
    text-shadow: 0 1.2px #171717;
    transition: 0.3s;
}
.logo{
    margin-left: 1rem;
    padding-top: 1rem;
    align-self: flex-start;
}
@media (max-width:768px){
    header ul li a{
        font-size: 1.2rem;     
    }
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav-item-right{
        padding-left: 1.5rem;
    }
    .women{
        display: none;
        flex-basis: 100%;
    }
    .text{
        align-items: center;
        align-self: center;
        justify-content: center;
        text-align: center;
        flex-basis: 100%;
        font-family: "alex brush";
        padding-left: 4rem;
        padding-top: 6rem;
        font-size: 45px!important;
        color: #FCDDA3;
        text-shadow: 2px 4.5px 1px#171717;
    }
}
.container{
    display: flex;
    flex-direction: row;
}
.text{
    order: 1;
    justify-content: center;
    text-align: left;
    flex-basis: 50%;
    font-family: "alex brush";
    padding-left: 4rem;
    padding-top: 6rem;
    font-size: 75px;
    color: #FCDDA3;
    text-shadow: 2px 4.5px 1px #171717;
}
.btn{
    margin-top: 2.5rem;
    width: 220px;
    height: 80px;
    font-size: 35px;
    font-family: "bebas neue";
    border-radius: 25px;
    border: none;
    background-color: #FCDDA3;
    margin-right: 1rem;
    box-shadow: 2px 3px 1px #171717;
}
.mainpage .icon{
    padding-right: 1rem;
    font-size: 40px;
}
.btn2{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    width: 220px;
    height: 80px;
    font-size: 35px;
    font-family: "bebas neue";
    border-radius: 25px;
    border: none;
    background-color: #FCDDA3;
    box-shadow: 2px 3px 1px #171717;
}
.btn:hover, .btn2:hover{
    background-color: rgb(187, 165, 125);
    color: rgb(43, 38, 33);
    box-shadow: 2px 3px 1px rgb(49, 46, 40);
}
.women{
    order: 2;
    justify-content: center;
    background-image: url("../img/final/women-min.png");
    flex-basis: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}